/**首页样式**/
.header{
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 20px;
    left:0;
    top:0;
    z-index: 99;
    background-color:#0d0d0d;
    text-align: center;
}
.header .nav{
    background-color: #0d0d0d;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    color: #fff;
    left: 0;
    max-width: 400px;
    min-height: 100%;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform .5s ease;
    width: 90%;
    z-index: 10;
}
.header .nav.now{
    transform: translateX(0%);
}
.header .nav .menu{
    color:#b5b5b5;
    font-size: 16px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 15px;
    transform: translateX(60px);
    transition: transform .5s ease;
    width: 50px;
    cursor: pointer;
    text-transform: uppercase;
}
.header .nav .menu.now{
    transform: translateX(-5px);
    top:20px;
}
.header .nav .menu.now .line{
    background-color: transparent;
}
.header .nav .menu.now .line::before{
    transform: rotate(45deg);
}
.header .nav .menu.now .line::after{
    transform: translateY(-10px) rotate(-45deg);
    bottom: -4px;
    top:2px;
}
.header .nav .menu.now::after{
    display: none;
}
.header .nav .menu:hover{
    color:#fff;
}
.header .nav .menu:hover .line{
    background-color: #fff;
}
.header .nav .menu.now:hover .line{
    background-color: transparent;
}
.header .nav .menu.now:hover .line::before{
    top:-8px;
}
.header .nav .menu:hover .line::after,.header .nav .menu:hover .line::before{
    background-color: #fff;
}
.header .nav .menu:hover .line::before{
    top:-9px;
}
.header .nav .menu:hover .line::after{
    bottom:-9px;
}
.header .nav .menu::after{
    content:'menu';
    position:absolute;
    left:55px;
    top:13px;
}
.header .nav .menu .line{
    background: #b5b5b5;
    height: 1px;
    position: absolute;
    top: 26px;
    transition: background .5s ease;
    width: 26px;
    left:50%;
    margin-left: -13px;
}
.header .nav .menu .line::after,.header .nav .menu .line::before{
    background: #b5b5b5;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: -8px;
    transition: transform .5s ease,top .3s ease,bottom .3s ease;
    width: 26px;
}
.header .nav .menu .line::after{
    bottom: -8px;
    top: auto;
}
.header .logo{
    display: inline-block;
}
.header .logo img{
    display: block;
    width:92px;
    height: 40px;
}
.header .nav-box .list{
    padding-top: 80px;
}
.header .nav-box .list li{
    height: 70px;
    line-height: 70px;
    padding-left: 25px;
    border-bottom:1px solid #2b2b2b;
    background-color: #0d0d0d; 
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.3s, transform .3s;
}
.header .nav-box .list li:last-child{
    border:none;
    height: auto;
    padding: 0;
}
.header .nav-box .list li:last-child p{
    font-size: 16px;
    color: #c7c7c7;
    text-align: center;
    text-transform: uppercase;
}
.header .nav-box .list li .tel{
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 30px;
    border-bottom: 1px solid #2b2b2b;
}
.header .nav-box .list li .tel img{
    width: 45px;
    height: 45px;
    display: block;
    margin: 0 auto 30px;
}
.header .nav-box .list li .tel h3{
    font-size: 20px;
}
.header .nav-box .list li .tel h3 a{
    color: #fff;
    text-align: center;
}
.header .nav-box .list.now li{
    opacity: 1;
    transform: translateX(0);
}
.header .nav-box .list.now li:nth-child(1){
    transition-delay: 0.1s;
}
.header .nav-box .list.now li:nth-child(2){
    transition-delay: 0.2s;
}
.header .nav-box .list.now li:nth-child(3){
    transition-delay: 0.3s;
}
.header .nav-box .list.now li:nth-child(4){
    transition-delay: 0.4s;
}
.header .nav-box .list.now li:nth-child(5){
    transition-delay: 0.5s;
}
.header .nav-box .list.now li:nth-child(6){
    transition-delay: 0.5s;
}
.header .nav-box .list li a{
    font-size:20px;
    color: #fff;
    display: block;
    height: 100%;
    text-align:left;
}
.header .nav-box .list li:active{
    background-color: #fff;
    transition: background-color 0.3;
}
.header .nav-box .list li:last-child:active{
    background-color: #0d0d0d;
}
.header .nav-box .list li:active>a{
    color: #0d0d0d;
}
.content{
    padding-top:80px;
}
#navmenu{
    position: fixed;
    left:25px;
    bottom:10px;
    z-index: 10;
}
#navmenu li{
    margin-bottom: 20px;
}
#navmenu a{
    padding-left: 25px;
    position: relative;
    font-size: 12px;
    color: #000;
    display: block;
    max-width: 85px;
    width: 100%;
    transition: color .3s ease;
    cursor: pointer;
}
#navmenu a:hover{
    color: #fff;
}
#navmenu a::after{
    content:'';
    position: absolute;
    left:0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #000;
    border: 1px solid #000;
    top:50%;
    margin-top: -2px;
    transition: all .5s cubic-bezier(.65,-.73,.46,2.1);
}
#navmenu .active a::after{
    width: 12px;
    height: 12px;
    border: 2px solid #000;
    background-color: transparent;
    margin-top: -6px;
    left:-4px;
}
.down{
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left:50%;
    margin-left: -30px;
    bottom:20px;
    z-index: 9;
    cursor: pointer;
    transform: translate(0%,0);
    transition: all .3s cubic-bezier(.65,-.73,.46,2.1);
}
.down:hover{
    transform: translate(0%,5px);
}
.down img{
    display: block;
    width:60px;
    height: 60px;
    border-radius: 50%;
}
.section .text{
    position: absolute;
    top: 50%;
    right: 12.5%;
    transform: translateY(-50%);
    z-index: 10;
}
.section .text h2{
    font-size: 36px;
    color: #fff;
    text-align: center;
}
.section .text p{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
}
.section .text a{
    display: block;
    max-width: 250px;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border:1px solid #fff;
    border-radius: 5px;
    transition: background .3s ease;
    cursor: pointer;
}
.section .text a:hover{
    background: #fff;
    color: #000;
}
.section .text i{
    max-width: 120px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    display: block;
    margin:0 auto 35px;
}
.section .text .con{
    font-size: 16px;
    color: #fff;
    margin-bottom: 45px;
    line-height: 30px;
}
.section .text .contact ul{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section .text .contact ul li{
    width: 48%;
    margin-bottom: 20px;
}
.section .text .contact ul li:last-child{
    width: 100%;
}
.section .text .contact ul li input{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #343434;
    border:none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
}
.section .text .contact ul li textarea{
    width: 100%;
    height: 190px;
    background-color: #343434;
    outline: none;
    resize: none;
    border:none;
    font-size: 16px;
    color: #fff;
    padding: 20px;
}
.section .text .contact ul li input::-webkit-input-placeholder {
    font-size: 16px;
    color: #fff;
}
.section .text .contact ul li input:-moz-placeholder {
    font-size: 16px;
    color: #fff;
}
.section .text .contact ul li input:-ms-input-placeholder {
    font-size: 16px;
    color: #fff;
}
.section .text .contact ul li textarea::-webkit-input-placeholder {
    font-size: 16px;
    color: #fff;
}
.section .text .contact ul li textarea:-moz-placeholder {
    font-size: 16px;
    color: #fff;
}
.section .text .contact ul li textarea:-ms-input-placeholder {
    font-size: 16px;
    color: #fff;
}
#fullpage .section:nth-child(n+2) .text{
    left:50%;
    transform: translate(0%,-50%);
}
#fullpage .section:nth-child(n+2) .text h2{
    text-align: left;
}
#fullpage .section:nth-child(n+2) .text p{
    text-align: left;
}
#fullpage .section:nth-child(n+2) .text i{
    margin:0 0 35px;
}
#fullpage .section:nth-child(n+2) .text a{
    margin: 0;
}
#fullpage .section:nth-child(n+6) .text{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:80%;
}
#fullpage .section:nth-child(n+6) .text h2{
    text-align: center;
}
#fullpage .section:nth-child(n+6) .text p{
    text-align: center;
}
#fullpage .section:nth-child(n+6) .text i{
    margin:0 auto 35px;
}
#fullpage .section:nth-child(n+6) .text a{
    margin: 0 auto;
}
.section .text .contact p{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    justify-content:center;
}
.section .text .contact p button{
    width: 155px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 38px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background .3s ease;
    cursor: pointer;
    background-color: transparent;
    margin-right: 30px;
    padding: 0;

}
.section .text .contact p button:last-child{
    margin-right: 0px;
}
.section .text .contact p button:hover{
    background: #fff;
    color: #000;
}
.map img{
    display: block;
    width: 100%;
    max-height:560px;
}
.footer{
    background-color: #fff;
}
.footer .watch-us{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    justify-content: center;
    height: 105px;
    border-bottom: 1px solid #ddd;
}
.footer .watch-us a:first-of-type{
    margin: 0 35px;
}
.footer-nav{
    padding-top: 15px;
}
.footer-nav ul{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.footer-nav ul li{
    margin-right: 45px;
}
.footer-nav ul li:last-child{
    margin-right: 0;
}
.footer-nav ul li a{
    font-size: 14px;
    color: #030303;
    transition: color .3s ease;
    position: relative;
}
.footer-nav ul li a::after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #969696;
    bottom: -.375rem;
    content: "";
    transition: all .3s ease;
    width: 0;
}
.footer-nav ul li a:hover{
    color: #969696;
}
.footer-nav ul li a:hover::after{
    width: 100%;
    border-bottom-color: #2f3335;
}
.footer-nav p{
    font-size: 14px;
    color: #666;
    line-height: 24px;
    text-align: center;
}
.footer-nav>a{
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin:15px auto;
}
.footer-nav a img{
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.toTop{
    position: fixed;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 10;
    border-radius: 50%;
    transform: translateY(110%);
    transition: transform .5s cubic-bezier(.65,-.73,.46,2.1);
    background-color: hsla(0,0%,59%,.6);
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
    right:40px;
    bottom:0px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.toTop.now{
    transform: translateY(-50%);
}
.toTop i{
    margin-left: 2px;
}
/* 环保 */
.envir .section .envir-text{
    position: absolute;
    top:20%;
    left: 50%;
    transform: translateX(-50%);
}
.envir .section:nth-child(n+2) .envir-text{
    top:30%;
    max-width: 400px;
    width: 100%;
    transform: translateX(0%);
}
.envir .section:last-child .envir-text{
    max-width: 100%;
    width: 100%;
    left:0;
    top:0;
    height: 100%;
}
.envir .section .envir-text .title{
    text-align: center;
    font-size: 70px;
    color: #fff;
}
.envir .section .envir-text .con{
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.envir .section .envir-text i{
    display: block;
    width: 265px;
    height: 1px;
    background-color: #808080;
    margin: 65px auto 0;
}
.envir .section .envir-text h2{
    font-size: 28px;
    color: #fff;
    height: 70px;
    line-height: 70px;
    margin-bottom: 25px;
}
.envir .section .envir-text h2 span{
    position: relative;
}
.envir .section .envir-text h2 span::after{
    content: '';
    position: absolute;
    left:0;
    bottom:-25px;
    background-color: #7e7e7e;
    width: 100%;
    height: 1px;
}
.envir .section .envir-text>p{
    font-size: 16px;
    color: #fff;
    line-height: 28px;
}
.envir .section .envir-text h1{
    position: absolute;
    left:50%;
    top:50%;
    width: 218px;
    height: 218px;
    margin-left: -109px;
    margin-top: -109px;
    border-radius: 50%;
    border:1px solid #fff;
    z-index: 9;
    font-size: 36px;
    font-weight: bold;
    line-height: 218px;
    color: #fff;
    text-align: center;
}
.envir .section .envir-text ul{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 9;;
}
.envir .section .envir-text ul li h3{
    font-size: 18px;
    color: #fff;
    line-height: 28px;
    margin-bottom: 15px;
}
.envir .section .envir-text ul li p{
    font-size: 18px;
    color: #fff;
    line-height: 28px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 84px;
}
.envir .section .envir-text ul li{
    position: absolute;
    width: 100%;
    max-width: 480px;
}
.envir .section .envir-text ul li:first-child{
    right:15%;
    top:10%;
}
.envir .section .envir-text ul li:nth-child(2){
    right:10%;
    top:40%;
}
.envir .section .envir-text ul li:nth-child(3){
    right:15%;
    top:70%;
}
.envir .section .envir-text ul li:nth-child(4){
    left:15%;
    top:10%;
}
.envir .section .envir-text ul li:nth-child(5){
    left:10%;
    top:40%;
}
.envir .section .envir-text ul li:nth-child(6){
    left:15%;
    top:70%;
}
.envir .section .envir-text ul li:nth-child(n+4) h3{
    text-align: right;
}
.pro-list{
    background-color: #0d0d0d;
}
.pro-list>h2{
    background-color: #1e1e1e;
    color: #fff;
    font-size: 36px;
    height: 240px;
    line-height: 240px;
    text-align: center;
}
.pro-list .list{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    flex-wrap:wrap;
    max-width: 1430px;
    width: 100%;
    margin:0 auto;
    padding: 130px 0 0;
    overflow: hidden;
}
.pro-list .list li{
    width: 30%;
    margin-right:5%;
    margin-bottom: 130px;
    opacity: 0;
    transform: translateX(300px);
    transition: opacity 0.3s, transform .3s;
}
.pro-list .list li.now{
    opacity: 1;
    transform: translateX(0);
}
.pro-list .list li:nth-child(3n+3){
    margin-right: 0;
}
.pro-list .list li .box a{
    display: block;
}
.pro-list .list li .box img{
    width: 100%;
    display: block;
}
.pro-list .list li .box h2{
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 25px 0;
}
.pro-list .list li .box p{
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    width: 70%;
    margin:0 auto;
}
/* 列表详情页 */
.pro-details .box{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    flex-wrap:wrap;
}
.pro-details .box .con{
    max-width: 400px;
}
.pro-details .box .con h2{
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}
.pro-details .box .con p{
    font-size: 14px;
    line-height: 28px;
    color: #ccc;
    width: 80%;
    margin: 0 auto;
}
.pro-details .box>img{
    margin-right:225px;
}
.pro-details .section:last-child .box>img{
    margin-left: 225px;
    margin-right: 0;
}
.pro-details .pro-text{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: column;
    overflow: hidden;
}
.pro-details .pro-text h2{
    font-size: 36px;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
}
.pro-details .pro-text p{
    font-size: 24px;
    color: #fff;
    text-align: center;
    width: 60%;
    margin:0 auto;
}
/**关于主页**/
.about .about-con{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left:0;
    top:0;
}
.about .about-con .about-text{
    height: 100%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0px);
    transition: transform 0.7s cubic-bezier(.445,.05,.55,.95);
}
.about .about-con .about-text.now{
    transform: translateX(-40%);
}
.about .about-con .about-text .box h2{
    font-size: 55px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    line-height: 60px;
}
.about .about-con .about-text .box p{
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.about .about-con .about-text .box i{
    width: 264px;
    height: 1px;
    background-color: #808282;
    display: block;
    margin:50px auto;
}
.about .about-con .about-text .box a{
    width: 120px;
    height: 30px;
    display: block;
    border:1px solid #505150;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    transition: background .3s ease;
    margin:0 auto;
}
.about .about-con .about-text .box a:hover{
    background: #fff;
    color: #000;
}
.about .about-con .about-text>.tomore{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.about .about-con .about-text .tomore span{
    font-size: 14px;
    color: #fff;
    margin:0 15px;
    text-transform: uppercase;
}
.about .about-con .about-text .tomore .line{
    display: block;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    background-color: #fff;
    height: 2px;
    min-width: 30px;
    transition: min-width .5s cubic-bezier(.445,.05,.55,.95);
}
.about .about-con .about-text .tomore:hover .line{
    min-width: 46px;
}
.about .about-con .right{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:9;
    background-color: #666;
    left: 0;
    top:0;
    transform: translateX(100%);
    transition: transform 1s cubic-bezier(.445,.05,.55,.95);
}
.about .about-con .right.now{
    transform: translateX(0%);
}
.about .about-con .right .toback{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    flex-direction: row-reverse;
    z-index: 10;
}
.about .about-con .right .toback span{
    font-size: 14px;
    color: #fff;
    margin:0 15px;
    text-transform: uppercase;
}
.about .about-con .right .line{
    display: block;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    background-color: #fff;
    height: 2px;
    min-width: 30px;
    transition: min-width .5s cubic-bezier(.445,.05,.55,.95);
}
.about .about-con .right .toback:hover .line{
    min-width: 40px;
}
.about .about-con .right .con{
    position: absolute;
    width: 80%;
    height: 90%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    padding: 55px;
}
.about .about-con .right .con .video{
    width: 40%;
    margin-top: 8%;
}
.about .about-con .right .con .video video{
    width: 100%;
    display: block;
    height: 100%;
}
.about .about-con .right .con .sm{
    width: 60%;
    height: 100%;
}
.about .about-con .right .con .sm h2{
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}
.about .about-con .right .con .sm p{
    font-size: 14px;
    line-height: 26px;
    color: #909090;
}
.about .about-con .right .con ul{
    max-height: 90%;
    overflow-y: auto;
    width: 90%;
    margin:0 auto;
}
.about .about-con .right .con ul::-webkit-scrollbar{
    width:10px;
    background-color:#0f0f0f;/* 整个滚条背景 */
 }
 .about .about-con .right .con ul::-webkit-scrollbar-thumb{
    -webkit-border-radius:4px;
    border-radius:4px;
    background-color:#2f2f2f; /* 滚条内嵌颜色 */
 }
.about-menu{
    position: fixed;
    left:0;
    bottom:0;
    z-index: 9;
    background-color: #0d0d0d;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
}
.about-menu img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.menu-nav{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #131313;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    transform: translateY(100%);
    transition: transform 0.5s;
}
.menu-nav.now{
    transform: translateY(0%);
    transition: transform 0.5s;
}
.menu-nav .img{
    width: 50%;
}
.menu-nav .img img{
    display: block;
    width: 100%;
    height: 100%;
}
.menu-nav .menu-title{
    width: 50%;
    padding: 15% 0 0 15%;
}
.menu-nav .menu-title h2{
    font-size: 42px;
    color: #fff;
    position: relative;
    margin-bottom: 40px;
}
.menu-nav .menu-title h2::after{
    position: absolute;
    content:'';
    left:0;
    bottom:-10px;
    width: 20%;
    height: 1px;
    background-color: #fff;
}
.menu-nav .menu-title a{
    font-size: 28px;
    color: #6c6c6c;
}
.menu-nav .menu-title li{
    height: 50px;
    line-height: 50px;
}
.menu-nav .close{
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: .3;
    transition: opacity .5s cubic-bezier(.445,.05,.55,.95);
    cursor: pointer;
    z-index: 4;
}
.menu-nav .close::before{
    position: absolute;
    left: 15px;
    content: " ";
    height: 100%;
    width: 2px;
    background-color: #fff;
    transition: background-color .3s cubic-bezier(.39,.575,.565,1);
    transform: rotate(45deg);
}
.menu-nav .close::after{
    position: absolute;
    left: 15px;
    content: " ";
    height: 100%;
    width: 2px;
    background-color: #fff;
    transition: background-color .3s cubic-bezier(.39,.575,.565,1);
    transform: rotate(-45deg);
}
.about .about-con .right .swiper-box{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.about .about-con .right .swiper-box ul{
    display: flex;
    display: -webkit-flex;
    display:-moz-flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.about .about-con .right .swiper-box ul li{
    width: 48%;
    display: flex;
    display: -webkit-flex;
    display:-moz-flex;
    align-items: center;
    background-color: #030303;
    border:1px solid #1b1b1b;
    margin-bottom: 40px;
    padding: 10px 20px;
    cursor: pointer;
}
.about .about-con .right .swiper-box .time{
    width: 100px;
    height: 125px;
    background-color: #0d0d0d;
    display: flex;
    display: -webkit-flex;
    display:-moz-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 30px;
}
.about .about-con .right .swiper-box .time h2{
    font-size: 40px;
    color: #fff;
    width: 100%;
    text-align: center;
}
.about .about-con .right .swiper-box .time p{
    font-size: 14px;
    color: #fff;
}
.about .about-con .right .swiper-box .swiper-title{
    flex-grow: 1;
    min-width: 0;
}
.about .about-con .right .swiper-box .swiper-title h2{
    font-size: 20px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.about .about-con .right .swiper-box .swiper-title p{
    font-size: 14px;
    line-height: 26px;
    color: #888;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.about .about-con .right .swiper-box .swiper-container{
    padding-bottom: 60px;
}
.about .about-con .right .swiper-box .swiper-pagination-bullet{
    width: 30px;
    height: 30px;
    opacity: 1;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background-color: #0d0d0d;
    outline: none;
}
.about .about-con .right .swiper-box .swiper-pagination-bullet-active{
    background-color: #303030;
}
.about .about-con .right .swiper-box .details{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index: 9;
    background-color: transparent;
    transition: background-color .8s cubic-bezier(.445,.05,.55,.95) 0s;
    opacity: 0;
    overflow-y: auto;
    padding: 30px;
    display: none;
}
.about .about-con .right .swiper-box .details.now{
    background-color:#0d0d0d;
    opacity: 1;
    display: block;
}
.about .about-con .right .swiper-box .details::-webkit-scrollbar{
    width:10px;
    background-color:#0f0f0f;/* 整个滚条背景 */
 }
 .about .about-con .right .swiper-box .details::-webkit-scrollbar-thumb{
    -webkit-border-radius:4px;
    border-radius:4px;
    background-color:#2f2f2f; /* 滚条内嵌颜色 */
 }  
.about .about-con .right .swiper-box .details h2{
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.about .about-con .right .swiper-box .details>p{
    text-align: center;
    color: #4f4f4f;
    font-size: 14px;
    margin: 15px 0;
}
.about .about-con .right .swiper-box .details>p span{
    margin-right: 10px;
}
.about .about-con .right .swiper-box .details>p span:last-child{
    margin-right: 0;
}
.about .about-con .right .swiper-box .details .details-con{
    padding: 30px 0;
    border-top:1px solid #2b2b2b;
    border-bottom:1px solid #2b2b2b;
}
.about .about-con .right .swiper-box .details .details-con p{
    font-size: 14px;
    color: #6c6c6c;
    line-height: 24px;
}
.about .about-con .right .swiper-box .details .details-con img{
    width: 570px;
    display: block;
    margin:25px auto;
}
.about .about-con .right .swiper-box .details .close{
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: .3;
    transition: opacity .5s cubic-bezier(.445,.05,.55,.95);
    cursor: pointer;
    z-index: 5;
}
.about .about-con .right .swiper-box .details .close::before{
    position: absolute;
    left: 15px;
    content: " ";
    height: 100%;
    width: 2px;
    background-color: #fff;
    transition: background-color .3s cubic-bezier(.39,.575,.565,1);
    transform: rotate(45deg);
}
.about .about-con .right .swiper-box .details .close::after{
    position: absolute;
    left: 15px;
    content: " ";
    height: 100%;
    width: 2px;
    background-color: #fff;
    transition: background-color .3s cubic-bezier(.39,.575,.565,1);
    transform: rotate(-45deg);
}
/**联系我们**/
.contact-us .title{
    height: 240px;
    line-height: 240px;
    text-align: center;
    background-color: #1e1e1e;
    font-size: 36px;
    color: #fff;
}
.contact-us .to-message{
    background-color: #0d0d0d;
    padding: 90px 0;
}
.contact-us .to-message .box{
    width: 100%;
    max-width: 660px;
    margin:0 auto;
    border-top:1px solid #252525;
}
.contact-us .to-message .box h2{
    font-size: 16px;
    color: #ccc;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
    position: relative;
}
.contact-us .to-message .box h2 i{
    position: absolute;
    right:7px;
    top:50%;
    font-size: 22px;
    transition: transform .5s ease;
    transform: translateY(-50%) rotateX(0deg);
    transform-origin: 50% 50%;
}
.contact-us .to-message .box h2.now i{
    transform: translateY(-50%) rotateX(180deg);
}
.contact-us .to-message .box>li{
    border-bottom:1px solid #252525;
}
.contact-us .to-message .box>li .contact-message{
    padding-bottom: 25px;
    display: none;
}
.contact-us .to-message .box>li .contact-message p{
    font-size: 14px;
    color: #8a8a8a;
    line-height: 24px;
    padding-left: 20px;
}
.contact-us .to-message .box>li .contact-message li{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: flex-start;
    border-bottom:1px solid #191919;
}
.contact-us .to-message .box>li .contact-message li span{
    font-size: 14px;
    color: #b1b1b1;
    height: 64px;
    line-height: 64px;
    flex-shrink: 0;
}
.contact-us .to-message .box>li .contact-message li input{
    background-color: transparent;
    border:none;
    resize: none;
    outline: none;
    height: 64px;
    line-height: 64px;
    flex-grow:1;
    font-size: 16px;
    color: #fff;
}
.contact-us .to-message .box>li .contact-message li textarea{
    background-color: transparent;
    border:none;
    resize: none;
    outline: none;
    height: 100px;
    font-size: 16px;
    color: #fff;
    flex-grow: 1;
    padding: 10px;
}
.contact-us .to-message .box>li .contact-message button{
    display: block;
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border:1px solid #8c8c8c;
    margin:30px auto 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px;
    color: #b1b1b1;
    transition: background .3s ease;
}
.contact-us .to-message .box>li .contact-message button:hover{
    background: #fff;
    color: #000;
}
@media (min-width: 1400px){

}
@media (min-width:1200px){

}
@media (max-width: 1400px){
}
@media(max-width:1199px){

}
@media(max-width:1024px){
    .section .text{
        top: 42%;
        right: 50%;
        transform: translate(50%,-50%);
    }
    #fullpage .section:nth-child(n+2) .text{
        width: 100%;
        max-width: 45%;
    }
    #fullpage .section:nth-child(n+6) .text{
        width: 100%;
        max-width: 60%;
    }
    .section .text .contact ul li{
        margin-bottom: 10px;
    }
    .header .nav-box .list li .tel{
        padding-top: 60px;
        padding-bottom: 15px;
    }
    /* 环保 */
    .envir .section:nth-child(n+2) .envir-text{
        top:34%;
    }
    .envir .section:last-child .envir-text{
        padding-top: 60px;
        top:0;
    }
    .envir .section .envir-text h1{
        position: static;
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin-top: 0;
        margin-left: 0;
        border-radius: 0;
        border:none;
        margin-bottom: 60px;
        font-size: 32px;
    }
    .envir .section .envir-text ul{
        position: static;
        height: auto;
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        align-items: center;
        flex-wrap:wrap;
        padding: 0 25px;
        justify-content: space-between;
    }
    .envir .section .envir-text ul li{
        position: static;
        margin-bottom: 40px;
        max-width: 450px;
    }
    .envir .section .envir-text ul li:nth-child(n+4) h3{
        text-align: left;
    }
    .envir .section .envir-text ul li h3{
        font-size: 16px;
    }
    .envir .section .envir-text ul li p{
        font-size: 16px;
    }
    .envir .section .envir-text .title{
        font-size: 55px;
    }
    .envir .section .envir-text .con{
        font-size: 28px;
    }
    /* 环保列表 */
    .pro-list .list{
        width: 90%;
    }
    .pro-list>h2{
        height: 120px;
        line-height: 120px;
        font-size: 30px;
    }
    .pro-list .list{
        padding: 60px 0 0;
    }
    .pro-list .list li{
        margin-bottom: 60px;
    }
    .pro-list .list li .box h2{
        font-size: 20px;
        margin: 15px 0;
    }
    /**环保详情页**/
    .pro-details .box>img{
        margin-right: 100px;
    }
    .pro-details .section:last-child .box>img{
        margin-left: 100px;
        margin-right: 0;
    }
    .pro-details .box .con h2{
        font-size: 30px;
    }
    .pro-details .pro-text h2{
        font-size: 30px;
    }
    .pro-details .pro-text p{
        font-size: 20px;
    }
    /**关于页面**/
    .about .about-con .right .con .sm h2{
        font-size: 20px;
    }
    .about-menu{
        height: 60px;
    }
    .about-menu img{
        width: 30px;
        height: 30px;
    }
    .about .about-con .right .con ul{
        padding: 30px 0;
    }
    .about .about-con .about-text .box h2{
        font-size: 24px;
        line-height: 35px;
    }
    .about .about-con .about-text .box p{
        font-size: 20px;
    }
    .about .about-con .about-text .box i{
        width: 200px;
        margin: 35px auto;
    }
    .menu-nav .menu-title h2{
        font-size: 26px;
    }
    .menu-nav .menu-title a{
        font-size: 22px;
    }
    .about .about-con .right .con{
        height: 95%;
        padding: 25px;
    }
    .about .about-con .right .con .video{
        margin-top:22%;
    }
    .about .about-con .right .swiper-box ul li{
        margin-bottom: 20px;
        padding: 10px;
    }
    .about .about-con .right .swiper-box .swiper-container{
        padding-bottom: 45px;
    }
    .about .about-con .right .swiper-box .time{
        height: 100px;
        margin-right: 15px;
    }
    .about .about-con .right .swiper-box .time h2{
        font-size: 28px;
    }
}
@media(max-width:991px){

}
@media (max-width: 768px){
    /* 环保 */
    .envir .section .envir-text .title{
        font-size: 40px;
    }
    .envir .section .envir-text .con{
        font-size: 20px;
    }
    .envir .section .envir-text i{
        margin: 35px auto 0;
    }
    .envir .section .envir-text{
        top:30%;
    }
    .envir .section:nth-child(n+2) .envir-text{
        max-width: 100%;
        left:0;
    }
    .envir .section .envir-text h2{
        text-align: center;
    }
    .envir .section .envir-text>a p{
        width: 80%;
        margin:0 auto;
        text-align: center;
    }
    .envir .section .envir-text ul li{
        max-width: 100%;
        margin-bottom: 25px;
    }
    .envir .section:last-child .envir-text{
        padding-top: 50px;
    }
    .envir .section .envir-text h1{
        margin-bottom: 40px;
    }
    .envir .section .envir-text ul li p{
        height: 56px;
        -webkit-line-clamp: 2;
    }
    /**产品列表页**/
    .pro-list>h2 {
        height: 80px;
        line-height: 80px;
        font-size: 26px;
    }
    .pro-list .list li .box h2 {
        font-size: 16px;
        margin: 5px 0;
    }
    .pro-list .list li .box p{
        line-height: 20px;
        width: 85%;
    }
    /**关于我们页面**/
    .about .about-con .right .toback span{
        margin: 0 5px;
    }
    .about .about-con .right .con .video{
        margin:5% auto;
        width: 85%;
        float: none;
    }
    .about .about-con .right .con .sm{
        width: 100%;
        float: none;
        height: 55%;
    }
    .about .about-con .right .con ul{
        padding: 0;
    }
    .menu-nav .img{
        width: 100%;
        height: 100%;
        position: absolute;
        left:0;
        top:0;
        z-index: 2;
    }
    .menu-nav .menu-title{
        width: 100%;
        height: 100%;
        position: absolute;
        left:0;
        top:0;
        z-index: 3;
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        align-items: center;
        justify-content:center;
        flex-wrap:wrap;
        padding: 0;
        flex-direction: column;
    }
    .menu-nav .menu-title h2{
        width: 100%;
        text-align: center;
    }
    .menu-nav .menu-title h2::after{
        left:50%;
        transform: translate(-50%,0%);
    }
    .menu-nav .menu-title a{
        color: #fff;
        opacity: 0.8;
    }
}

@media(max-width:767px){
    #navmenu a{
        height: 10px;
        width: 10px;
        padding-right:0;
    }
    #navmenu a>span{
        display: none;
    }
    #navmenu .active a::before{
        display: none;
    }
    .section .text h2{
        font-size: 24px;
    }
    .section .text p{
        font-size: 14px;
    }
    .section .text {
        top: 40%;
        right: 50%;
        transform: translate(50%,-50%);
    }
    .section .text a{
        width: 170px;
        font-size: 16px;
    }
    .section .text .con {
        font-size: 14px;
        margin-bottom: 25px;
        line-height: 25px;
    }
    #fullpage .section:nth-child(n+6) .text {
        top:42%;
        max-width: 72%;
    }
    #fullpage .section:nth-child(n+6) .text i {
        margin: 0 auto 20px;
    }
    .section .text .contact ul li{
        width: 100%;
        margin-bottom: 5px;
    }
    .section .text .contact ul li input{
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }
    .section .text .contact ul li textarea{
        height: 180px;
        padding: 15px;
    }
    .header{
        height: 60px;
        padding: 17px;
    }
    .header .logo img {
        width: 64px;
        height: 28px;
    }
    .header .nav .menu::after{
        display: none;
    }
    .content{
        padding-top:60px;
    }
    .header .nav-box .list{
        padding-top: 60px;
    }
    .header .nav .menu .line{
        top:15px;
    }
    .header .nav .menu{
        height: 30px;
        width: 30px;
        transform: translateX(45px);
    }
    .header .nav-box .list li{
        height: 50px;
        line-height: 50px;
    }
    .header .nav-box .list li a{
        font-size: 16px;
    }
    .header .nav-box .list li .tel{
        padding-top: 60px;
    }
    .header .nav-box .list li .tel h3{
        font-size: 16px;
    }
    .header .nav-box .list li:last-child p{
        font-size: 14px;
    }

    /* 环保页 */
    .envir .section .envir-text .title{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .envir .section .envir-text .con {
        font-size: 16px;
    }
    .envir .section .envir-text i{
        margin: 30px auto 0;
    }
    .envir .section:nth-child(n+2) .envir-text{
        max-width: 100%;
        left:0;
        top:15%;
    }
    .envir .section .envir-text h2{
        text-align: center;
        font-size: 24px;
    }
    .envir .section .envir-text>p{
        width: 80%;
        margin:0 auto;
        font-size: 14px;
    }
    .envir .section .envir-text ul li{
        max-width: 100%;
        margin-bottom: 15px;
    }
    .envir .section:last-child .envir-text{
        padding-top: 25px;
        top:0;
    }
    .envir .section .envir-text h1{
        margin-bottom: 20px;
        font-size: 24px;
        height: 35px;
        line-height: 35px;
    }
    .envir .section .envir-text ul li p{
        height: 56px;
        -webkit-line-clamp: 2;
        font-size: 14px;
    }
    .envir .section .envir-text ul li h3{
        margin-bottom: 0;
    }
    /* 底部 */
    .footer-nav p{
        width: 90%;
        margin:0 auto;
    }
    /**产品列表页**/
    .pro-list>h2 {
        height: 50px;
        line-height: 50px;
        font-size:20px;
    }
    .pro-list .list li{
        width: 45%;
        margin-right: 10%;
        margin-bottom: 30px;
    }
    .pro-list .list li:nth-child(2n+2){
        margin-right: 0;
    }
    .pro-list .list li:nth-child(3n+3){
        margin-right: auto;
    }
    /**关于我们**/
    .about .about-con .about-text .tomore{
        display: none;
    }
    .about .about-con .right .toback{
        top: 5%;
    }
    .about .about-con .right .con{
        height: 93%;
        width: 95%;
        top:7%;
        padding: 10px;
        transform: translate(-50%,0%);
    }
    .about .about-con .right .con .video{
        margin: 2% auto;
        width: 95%;
    }
    .about .about-con .right .con .sm{
        height: 65%;
    }
    .about .about-con .right .con .sm h2{
        font-size: 16px;
        margin-top: 5px;
        margin-bottom:5px;
    }
    .about .about-con .right .swiper-box ul li{
        width: 98%;
        margin-bottom: 5px;
        padding: 5px;
    }
    .about .about-con .right .swiper-box .time{
        width: 55px;
        height: 50px;
        margin-right: 5px;
    }
    .about .about-con .right .swiper-box .time h2 {
        font-size: 14px;
        line-height: 1.2;
    }
    .about .about-con .right .swiper-box .time p {
        font-size: 12px;
        color: #fff;
    }
    .about .about-con .right .swiper-box .swiper-title h2 {
        font-size: 14px;
    }
    .about .about-con .right .swiper-box .swiper-title p {
        font-size: 12px;
        line-height: 20px;
    }
    .about .about-con .right .swiper-box .details{
        padding: 5px;
        top:7%;
        height: 90%;
    }
    .about .about-con .right .swiper-box .details h2{
        font-size: 14px;
    }
    .about .about-con .right .swiper-box .details>p{
        font-size: 12px;
        margin: 10px 0;
    }
    .about .about-con .right .swiper-box .details .details-con{
        padding: 10px 0;
    }
    .about .about-con .right .swiper-box .details .details-con p{
        font-size: 12px;
        line-height: 20px;
    }
    .about .about-con .right .swiper-box .details .details-con img{
        width: 100%;
        height: auto;
    }
    .about .about-con .right .swiper-box .details .close{
        right: 10px;
        top: 5px;
        width: 18px;
        height: 18px;
    }
    .about .about-con .right .swiper-box .details .close::before{
        left:8px;
    }
    .about .about-con .right .swiper-box .details .close::after{
        left:8px;
    }
    .menu-nav .menu-title h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .menu-nav .menu-title li {
        height: 35px;
        line-height: 35px;
    }
    .menu-nav .menu-title a {
        font-size: 16px;
    }
    .about .about-con .right .swiper-box{
        align-items: flex-end;
    }
}
@media(max-width:640px){

}
@media(max-width:480px){
    .section .text p{
        margin: 15px auto;
    }
    #fullpage .section:last-child .text{
        top:45%;
    }
    .down{
        width: 45px;
        height: 45px;
        margin-left: -22.5px;
        bottom:10px;
    }
    .down img{
        width: 45px;
        height: 45px;
    }
    .section .text h2{
        font-size: 20px;
    }
    .section .text a{
        width: 100%;
        font-size: 14px;
    }
    .section .text .con{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        overflow: hidden;
    }
    .section .text .contact ul li input{
        height: 30px;
        line-height: 30px;
        padding-left:15px; 
    }
    .section .text .contact ul li textarea{
        height: 120px;
    }
    .section .text .contact p button{
        font-size: 14px;
    }
    /* 环保 */
    .envir .section .envir-text ul li h3{
        font-size: 14px;
        line-height: 20px;
    }
    .envir .section .envir-text ul li p{
        height: 40px;
        line-height: 20px;
    }
    .envir .section .envir-text h1{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .envir .section .envir-text h2{
        font-size: 20px;
    }
    /* 底部 */
    .footer .watch-us{
        height: 45px;
    }
    .footer .watch-us a img{
        width: 25px;
        height: 25px;
    }
    .footer .watch-us a:first-of-type{
        margin:0 20px;
    }
    .map img{
        height: 120px;
    }
    .footer-nav ul li{
        margin-right: 20px;
    }
    .footer-nav>a{
        height: 40px;
        width: 40px;
    }
    .footer-nav a img{
        width: 40px;
        height: 40px;
    }
    /**详情页**/
    .pro-details .box>img{
        width: 102px;
        height: 200px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .pro-details .box .con h2{
        font-size: 20px;
    }
    .pro-details .box{
        flex-direction: column;
        text-align: center;
    }
    .pro-details .pro-text h2 {
        font-size: 20px;
    }
    .pro-details .pro-text p{
        font-size:14px;
        width: 85%;
    }
    .pro-details .section:last-child .box{
        flex-direction: column-reverse;
    }
    .pro-details .section:last-child .box>img{
        margin-left: 0;
    }
    .pro-details .box .con h2{
        margin-bottom: 0;
    }
}
@media(max-width:374px){
    .pro-list .list {
        padding: 35px 0 0;
    }
    .pro-list>h2{
        font-size: 18px;
    }
    .pro-list .list li .box h2{
        font-size: 14px;
    }
    .pro-list .list li .box p{
        font-size: 12px;
    }
    /**关于我们**/
    .about .about-con .about-text .box h2 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .about .about-con .about-text .box p {
        font-size: 14px;
    }
    .about .about-con .about-text .box i {
        width: 120px;
        margin: 20px auto;
    }
    .about .about-con .about-text .box a{
        width: 100px;
    }
    .about .about-con .right .swiper-box .swiper-pagination-bullet{
        width: 15px;
        height: 15px;
        line-height: 17px;
    }
    .about .about-con .right .swiper-box .swiper-container{
        padding-bottom: 25px;
    }
    .about .about-con .right .swiper-box ul li {
        margin-bottom: 2px;
        padding: 0px;
    }
    .hy-swiper .swiper-pagination{
        bottom:5px;
    }
    .about .about-con .right .swiper-box{
        width: 95%;
    }
}